[submodule "processing/kinect_syphon"]
	path = processing/kinect_syphon
	url = https://github.com/n1ckfg/kinect_syphon
[submodule "unity/holoflix_testing"]
	path = unity/holoflix_testing
	url = https://github.com/n1ckfg/holoflix_testing
[submodule "unity/unity/sandbox/Assets/UnityPointCloud"]
	path = unity/unity/sandbox/Assets/UnityPointCloud
	url = https://github.com/n1ckfg/UnityPointCloud
