[submodule "processing/kinect_syphon"]
	path = processing/kinect_syphon
	url = https://github.com/n1ckfg/kinect_syphon
[submodule "processing/depth_color_depth"]
	path = processing/depth_color_depth
	url = https://github.com/n1ckfg/depth_color_depth
[submodule "unity/holoflix_testing"]
	path = unity/holoflix_testing
	url = https://github.com/n1ckfg/holoflix_testing
[submodule "processing/Kinect_Frame_Grabber"]
	path = processing/Kinect_Frame_Grabber
	url = https://github.com/n1ckfg/Kinect_Frame_Grabber
[submodule "processing/holoflix_reader"]
	path = processing/holoflix_reader
	url = https://github.com/n1ckfg/holoflix_reader
